name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install libmumps-dev
    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
    - name: Build package
      run: |
        pip install build
        python -m build
    - name: Install package
      run: |
        pip install --group=dev -e .
    - name: Test formatting
      run: |
        black --check --diff mumps tests
    - name: Run tests
      run: |
        python -m pytest
